<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedule</title>

    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvcConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>


    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>


    <!-- <style>
    th, td {
        padding: 5px;
    }
    </style> -->

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container">
    <h2>Schedule</h2>

    <table  class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Discipline</th>
            <th>Classroom</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Operations</th>
        </tr>
        <tr th:each="lessonInfo : ${allSchedules}">
            <td th:utext="${lessonInfo.id}">..</td>
            <td th:utext="${lessonInfo.disciplineName}">..</td>
            <td th:utext="${lessonInfo.cabinetNumber}">..</td>
            <td th:utext="${lessonInfo.startTime}">..</td>
            <td th:utext="${lessonInfo.endTime}">..</td>
            <td>
                <form method="get" th:action="@{/schedule/{id}(id=${lessonInfo.id})}">
                    <input type="submit" class="btn btn-outline-info btn-sm" value="Show info">
                </form>
                <form method="get" th:action="@{/schedule/{id}/edit(id=${lessonInfo.id})}">
                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Update">
                </form>
                <form method="post" th:action="@{/schedule/{id}(id=${lessonInfo.id})}">
                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete">
                </form>
            </td>
        </tr>

    </table>
    <input type="button" value="Add new lesson" class="btn btn-success"
           onclick="window.location.href='/schedule/new'"/>
</div>
</body>
</html>